*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

background:linear-gradient(135deg,#141E30,#243B55);

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

padding:30px;

}

.container{

width:100%;
max-width:700px;

}

.card{

background:rgba(255,255,255,.08);

backdrop-filter:blur(18px);

border-radius:20px;

padding:30px;

box-shadow:0 20px 50px rgba(0,0,0,.35);

color:white;

}

.header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:25px;

}

.header h1{

font-size:35px;

}

.header p{

color:#ddd;

}

#date{

font-size:14px;

}

.input-box{

display:flex;

gap:10px;

margin-bottom:20px;

}

.input-box input{

flex:1;

padding:15px;

border:none;

outline:none;

border-radius:10px;

font-size:16px;

}

.input-box button{

padding:15px 22px;

border:none;

border-radius:10px;

background:#00c6ff;

color:white;

font-weight:bold;

cursor:pointer;

transition:.3s;

}

.input-box button:hover{

background:#0072ff;

}

.search input{

width:100%;

padding:14px;

border:none;

outline:none;

border-radius:10px;

margin-bottom:20px;

}

.stats{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:15px;

margin-bottom:20px;

}

.box{

background:rgba(255,255,255,.1);

padding:20px;

text-align:center;

border-radius:12px;

}

.box h2{

font-size:28px;

}

#taskList{

list-style:none;

}

.task{

background:rgba(255,255,255,.1);

display:flex;

justify-content:space-between;

align-items:center;

padding:15px;

margin-bottom:12px;

border-radius:12px;

animation:fade .4s;

}

.left{

display:flex;

align-items:center;

gap:15px;

}

.left input{

width:18px;

height:18px;

cursor:pointer;

}

.completed{

text-decoration:line-through;

opacity:.6;

}

.icons{

display:flex;

gap:15px;

font-size:18px;

cursor:pointer;

}

.delete{

color:#ff4d4d;

}

@keyframes fade{

from{

opacity:0;

transform:translateY(-10px);

}

to{

opacity:1;

transform:translateY(0);

}

}

@media(max-width:650px){

.stats{

grid-template-columns:1fr;

}

.input-box{

flex-direction:column;

}

}